<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hly.springbootmybatismultidatasources.dao.videoService.VideoDao">

    <resultMap id="videoResultMap" type="com.hly.springbootmybatismultidatasources.entity.Video">
        <id column="v_id" property="v_id"/>
        <result column="v_name" property="v_name"/>
        <result column="a_name" property="a_name"/>
    </resultMap>

    <select id="getVideoByArticleId" parameterType="integer" resultMap="videoResultMap">
        SELECT * FROM video
        <if test="a_id!=null">
            WHERE a_id = #{a_id}
        </if>
    </select>
</mapper>