<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 别名 -->
    <typeAliases>
       <typeAlias alias="Article" type="com.hly.springbootmybatismultidatasources.entity.Article"/>
        <typeAlias alias="Video" type="com.hly.springbootmybatismultidatasources.entity.Video"/>
    </typeAliases>

</configuration>